body {
    background-image: url("background-blur-clean-531880.jpg");
    align-content:center;
}

#third 
{
    color: aqua;
    text-align: center;
    font-size: 40px;
}
.fourth 
{
    color:antiquewhite;
    text-align:center;
    font-size:30px;
}
