body {
    background-image: url("background-blur-clean-531880.jpg");
    align-content:center;
    color:aquamarine;
}
#third 
{
    color: aqua;
    text-align: center;
    font-size: 40px;
}
.fourth 
{
    color:antiquewhite;
    text-align:center;
    font-size:30px;
}
.first, .second 
{
    font-size: 20px;
    padding: 5px;
   /*height: 150px;*/
    text-align: center;
    /*background-color: aliceblue;*/
    border: 1px solid solid;
}
.second
{
    padding:50px;
    display:none;
}
.div, .table2 
{
    font-size: 20px;
    padding: 5px;
    /*height: 150px;*/
    text-align: center;
    /*background-color: aliceblue;*/
    border: 1px solid solid;
}
.table2 
{
    padding: 50px;
    display: none;
}